---
import Card from "./card/Card.astro";

const cards = [
  {
    heading: "Transfery maszyn, produktu i technologii",
    text: "Służymy wsparciem dla klientów transferujących produkty, technologię oraz linie montażowe z krajów unii europejskiej.",
    image: "/images/offer/truck.jpg",
  },
  {
    heading: "Deklaracje zgodności CE",
    text: "Zmodernizujemy maszyny i urzadzenia przemysłowe, dostosowując je do potrzeb Dyrektywy maszynowej 2006/42/WE - oznakujemy znakiem CE i wystawimy deklarcję zgodności.",
    image: "/images/offer/certificate.jpg",
  },
  {
    heading: "Wsparcie techniczne w języu angielskim",
    text: "Pracownicy firmy mówią w języku angielskim, rozumiejąc słownictwo branżowe i techniczne.",
    image: "/images/offer/british.jpg",
  },
];
---

<section id="offer" class="bg-bgCustomWhite bg-bgGridImage pb-32">
  <div class="container">
    <h2 class="underline-red section-heading text-center text-5xl">Oferta</h2>

    <div
      data-animate
      class="offer-top flex flex-col gap-6 lg:flex-row lg:items-center lg:justify-center"
    >
      <div class="image-wrapper lg:w-[40%]">
        <img
          src="/images/offer/offers-automatic-small.jpg"
          alt="Maszyna automatyczna na lini produkcyjnej"
        />
      </div>
      <div class="flex flex-col gap-6 lg:w-[40%]">
        <p
          class="rounded-customRadius bg-neutral-400/30 p-6 font-sansSerifSecondary text-neutral-900/90"
        >
          Dzięki zaangażowaniu swoich pracowników firma Qbig wypracowała
          unikatowe rozwiązania w dziedzinie maszyn testujących i kontrolno -
          pomiarowych, budowane maszyny cechuje łatwość i intuicyjność obsługi,
          a także bezpieczeństwo użytkowania.
        </p>
        <p
          class="rounded-customRadius bg-neutral-400/30 p-6 font-sansSerifSecondary text-neutral-900/90"
        >
          W procesach sterowania, wizualizacji i nadzoru korzystamy zarówno z
          rozwiązań wykorzystujących moduły <strong>PLC</strong> i panele <strong
            >HMI</strong
          >, jak i z zaawansowanych możliwości systemu <strong>LabView</strong> ©.
        </p>
        <p
          class="rounded-customRadius bg-neutral-400/30 p-6 font-sansSerifSecondary text-neutral-900/90"
        >
          Wszystkie budowane przez nas urządzenia posiadają znak CE i wykonywane
          są zgodnie z Dyrektywą Maszynową 2006/42/WE. Urządzenia wyposażone są
          w osłony oraz zabezpieczenia, które uniemożliwiają dostęp do ruchomych
          części maszyny.
        </p>
      </div>
    </div>

    <div
      data-animate
      class="offer-cards my-10 grid gap-6 text-center text-slate-100 lg:my-20 lg:justify-center"
    >
      {
        cards.map(({ heading, text, image }) => (
          <Card heading={heading} text={text} image={image} />
        ))
      }
    </div>

    <div
      data-animate
      class="offer-bottom flex flex-col gap-6 lg:flex-row lg:items-center lg:justify-center"
    >
      <div class="text flex flex-col gap-6 lg:w-[40%]">
        <p
          class="rounded-customRadius bg-neutral-400/30 p-6 font-sansSerifSecondary text-neutral-900/90"
        >
          By sprostać Państwa oczekiwaniom stworzymy mapę procesu produkcyjnego
          oraz przeprowadzimy "analizę przyczyn i skutków wad"(FMEA). Analiza
          <strong>pFMEA</strong> (process Failure Mode and Effects Analysis) jest
          narzędziem, które pozwoli nam zidentyfikować istniejące oraz potencjalne
          wady, a także błędy oraz ich przyczyny, dzięki czemu nowo projektowane
          zautomatyzowane stanowisko zmniejszy lub wyeliminuje ryzyko ich wystąpienia.
        </p>
        <p
          class="rounded-customRadius bg-neutral-400/30 p-6 font-sansSerifSecondary text-neutral-900/90"
        >
          W przypadku stanowisk kontrolno - pomiarowych analiza pFMEA pozwala
          skupić uwagę projektantów na wykrywaniu wad, które niosą za sobą
          największe ryzyko dla klienta. Budowane stanowiska lub maszyny są
          dostosowane do standardów panujących w zakładzie. Wykonujemy zabudowy
          zarówno w oparciu o profile aluminiowe, jak i o konstrukcje spawane z
          profili stalowych.
        </p>
      </div>

      <div class="image-wrapper lg:w-[40%]">
        <img
          src="/images/offer/offers-robotic-small.jpg"
          alt="Maszyna automatyczna na lini produkcyjnej"
        />
      </div>
    </div>
  </div>
</section>

<style>
  .offer-cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  @media (min-width: 992px) {
    .offer-cards {
      grid-template-columns: repeat(auto-fit, minmax(320px, 360px));
    }
  }

  .card:nth-child(1) .card-front {
    background-image: var(--gradient-dark), url("/images/offer/truck.jpg");
  }

  .card:nth-child(2) .card-front {
    background-image: var(--gradient-dark), url("/images/offer/certificate.jpg");
  }

  .card:nth-child(3) .card-front {
    background-image: var(--gradient-dark), url("/images/offer/british.jpg");
  }
</style>
