---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <Navigation />
  <Header />
  <main></main>
</Layout>
