---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
import Offer from "../components/offer/Offer.astro";
import Projects from "../components/projects/Projects.astro";
import Gallery from "../components/gallery/Gallery.astro";
import Aboutus from "../components/Aboutus.astro";
import Contact from "../components/contact/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navigation />
  <Header />
  <main>
    <Offer />
    <Projects />
    <Gallery />
    <Aboutus />
    <Contact />
  </main>
  <Footer />
</Layout>
