---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
import Offer from "../components/offer/Offer.astro";
import Projects from "../components/projects/Projects.astro";
import Aboutus from "../components/Aboutus.astro";
---

<Layout>
  <Navigation />
  <Header />
  <main>
    <Offer />
    <Projects />
    <Aboutus />
  </main>
</Layout>
