:root {
  --red: #a40001;
  --light-white: #eee;
  --navigation-height: 60px;
  --radius: 8px;
  --gradient-dark: linear-gradient(
    to bottom,
    hsl(0, 0%, 0%),
    hsla(0, 0%, 0%, 0.5)
  );

  --background-red-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%237E0001'/%3E%3Cstop offset='1' stop-color='%23AE0002'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x2='0' y2='1' gradientTransform='rotate(162 .5 .5)'%3E%3Cstop offset='0' stop-opacity='0'/%3E%3Cstop offset='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x2='2' y2='2' gradientTransform='rotate(18 .5 .5)'%3E%3Cstop offset='0' stop-opacity='0'/%3E%3Cstop offset='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23a)' d='M0 0h2v1H0z'/%3E%3Cg fill-opacity='.19'%3E%3Cpath fill='url(%23b)' d='M0 1V0h2z'/%3E%3Cpath fill='url(%23c)' d='M2 1V0H0z'/%3E%3C/g%3E%3C/svg%3E");

  --background-grid-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='210' height='210' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23C0C0C0'%3E%3Cpath d='M769 229l268 31.9M927 880L731 737l-211-77-211-122-269 61 255 165-168.5 115.5L40 599l-237-106 299-111-133-153L126.5 79.5-69-63'/%3E%3Cpath d='M-31 229l268 32 153 121 213 111-294.5 44.5-207-156M370 905l-75-141'/%3E%3Cpath d='M520 660l58 182 153-105 109-138-237-106-83 167-225 104 14-226 81-156 149-113 230-40L577.5 41.5 370 105 295-36 126.5 79.5 237 261 102 382 40 599-69 737l196 143'/%3E%3Cpath d='M520-140l58.5 182.5L731-63M603 493l-64-224-302-8 133-156m532 277L539 269M390 382H102'/%3E%3Cpath d='M-222 42l348.5 37.5L370 105l169 164 38.5-227.5L927 80 769 229l133 153-299 111 128 244M295-36l282.5 77.5M578 842l-283-78M40-201l87 281m-25 302l-363-113'/%3E%3C/g%3E%3Cg fill='%23C0C0C0'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--navigation-height);
}

body.menu-open,
body.lightbox-open {
  overflow-y: hidden;
}

h2 {
  position: relative;
}

h2.section-heading {
  padding-top: 128px;
  margin-bottom: 128px;
  text-transform: uppercase;
  font-weight: bold;
}

h2.underline-red::before,
h2.underline-white::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
}

h2.underline-red::before {
  background-color: var(--red);
}

h2.underline-white::before {
  background-color: var(--light-white);
}

.rounded-wrapper,
.image-wrapper {
  overflow: hidden;
  border-radius: var(--radius);
}

.white-block {
  position: absolute;
  width: 70%;
  height: 40px;
  transform: skew(45deg);
  background-color: var(--light-white);
  background-image: var(--background-grid-image);
}

.white-block--left {
  bottom: 0;
  left: -50px;
}

.white-block--right {
  top: 0;
  right: -50px;
}

.button-elastic:hover {
  transform: scale(1.05);
}
.button-elastic:active {
  transform: scale(0.95);
}
