<section
  id="aboutus"
  class="aboutus relative overflow-hidden bg-cover bg-fixed bg-center pb-32 text-slate-200"
>
  <div class="white-block white-block--right"></div>
  <div class="white-block white-block--left"></div>
  <div class="container">
    <h2 class="section-heading underline-white text-center text-5xl">
      O firmie
    </h2>

    <div
      class="about-text mx-auto flex max-w-screen-xl flex-col gap-y-12 text-center lg:px-8"
    >
      <p class="leading-relaxed lg:text-justify">
        Automatyka i robotyka to nasza pasja. Główny obszar działalności firmy
        Qbig stanowi automatyzacja procesów kontrolno - pomiarowych. To co nas
        wyróżnia to innowacyjne techniki zarządzania projektami, dzięki którym
        realizujemy powierzone nam zadania terminowo i zgodnie z oczekiwaniami
        naszych klientów. Jesteśmy nr 1 w Łodzi w naszej dziedzinie.
      </p>
      <ul class="flex flex-col gap-y-1">
        <li>INNOWACYJNOŚĆ</li>
        <li>ZADOWOLENI KLIENCI</li>
        <li>WSPARCIE WDROŻENIA</li>
        <li>PROFESJONALNE ROZWIĄZANIA</li>
        <li>KONKURENCYJNE CENY</li>
        <li>WSPARCIE TECHNICZNE</li>
      </ul>
      <a
        href="#contact"
        class="button-elastic self-center rounded-customRadius bg-red px-10 py-4 text-lg uppercase transition-[background-color,transform] duration-300 hover:bg-black"
        >Napisz do nas</a
      >
    </div>
  </div>
</section>

<style>
  .aboutus {
    background-image: var(--gradient-dark),
      url("/images/aboutus/aboutus-small.jpg");
  }

  @media (min-width: 992px) {
    .aboutus {
      background-image: var(--gradient-dark),
        url("/images/aboutus/aboutus-big.jpg");
    }
  }
</style>
