---
import AutomaticMachineInstallation from "./automatic-machine-installation/AutomaticMachineInstallation.astro";
import AutomaticScrewSystems from "./automatic-screw-systems/AutomaticScrewSystems.astro";
import InstallationLInes from "./intallation-lines/InstallationLInes.astro";
import TestingMachines from "./testing-machines/TestingMachines.astro";
import TechnologyTools from "./technology-tools/TechnologyTools.astro";
---

<section id="gallery" class="bg-bgCustomWhite bg-bgGridImage pb-32">
  <div class="container">
    <h2 class="section-heading underline-red text-center text-5xl">Galeria</h2>

    <div class="accordions-container grid">
      <AutomaticMachineInstallation />
      <InstallationLInes />
      <AutomaticScrewSystems />
      <TestingMachines />
      <TechnologyTools />
    </div>
  </div>
</section>
